/* font importato da google fonts */
/* font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* clearfix main */
main::after{
  content: '';
  display: table;
  clear: both;
}

/* colore testo paragrafi */
p{
  color: #7F7F7F;
}

/* colore e bordi dei bottoni verdi */
.button-green{
  display: inline;
  background-color: #7CBB00;
  border-radius: 4px;
}

/* regola link bar */
a.link-bar{
  padding: 10px 10px;
  display: inline;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* intestazione */
header{
  height: 550px;
  background-color: rgb(12, 50, 89);
  background-image:url("../img/oldman.png");
  background-size: 70%;
  background-position: 110% 110%;
  background-repeat: no-repeat;
}

.container{
  position: relative;
  margin: 0 auto;
  width: 80%;
  color: white;
}

.header-top{
  height: 80px;
  line-height: 80px;
}

.header-top nav::after{
  content: '';
  display: table;
  clear: both;
}

/* barra di navigazione sinistra */
.menu-left{
  float: left;
}

.menu-left ul{
  list-style: none;
}

.menu-left li{
  display: inline;
}

/* posizionamento logo */
.menu-left img{
  vertical-align: middle;
  margin-right: 40px;
  margin-bottom: 13px;
}

/* barra di navigazione destra */
.menu-right{
  float: right;
}

.menu-right a:nth-child(2){
  border: 1px solid white;
  border-radius: 4px;
  /* utilizzo di un padding interno */
  padding: 10px 35px;
}
/* utilizzo di un padding con span (oppure regola precedente)
span{
  padding: 0 25px;
} */

a.button-top{
  margin-right: 20px;
}

/* banner dell'header */
.banner{
  position: relative;
  height: 470px;
}

.text-banner{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.text-banner h1{
  font-size: 48px;
  margin-bottom:48px;
}

a.button-banner{
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* top banner del main */
.banner-top{
  position: relative;
  height: 170px;
  line-height: 40px;
  background-color: #D3D3D3;
}

.text-topbanner{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.h3-topbanner{
  color: #a5a5a5;
}

/* contenuto superiore del main (content1) */
.content1{
  width: 80%;
  height: 550px;
  margin: 0 auto;
  background-color: brown;
}

.part1{
  float: left;
  height: 550px;
  width: calc(100% / 3);
  background-color: white;
}

.banner-content1{
  position: relative;
  margin-top: 40px;
  height: 550px;
  width: calc(100% / 3);
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 30%;
}

.text-content1{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 25px;
}

h2.green{
  margin-bottom: 80px;
  color: #7CBB00;
}


/* linea divisoria */
.divisor{
  border-bottom: 4px solid black;
}

/* contenuto inferiore del main (content2) */
.content2{
  height: 450px;
  margin: 0 auto;
  background-color: brown;
}
